html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.tableContainer {
  overflow-x: auto;
}


.body {
  background-color: #efefef;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
}

.dark {
  background-color: #a0a0a0;
}